<% if object.errors.any? %>
  <div class="alert alert-danger">
    <h6><%= pluralize(object.errors.count, "error") %> prohibited this record from being saved:</h6>
    <ul class="mb-0">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
